.premium{
    padding: 10%;
    font-size: larger;
    display: flex;
    justify-content: center;
}

.premium p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
}

.premium button{
    margin-top: 5%;
    background-color: #0000009a;
    color: white;
    border-radius: 5px;
}